<!-- posts/templates/posts/blogpost_list.html -->
{% extends './base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-2"><img alt="..." width="100%" src="{{ article.image_content }}">
         </div>
        <div class="col-10">
            <h1 class="fw-bold">{{ article.title}} </h1>
            <span class="fst-italic">Publié par <i>{{ article.author }}</i> le {{ article.date|date:'j F Y' }}</span>
            <!-- Delete button -->
            <a href="{% url 'blog:delete' article.slug %}" class="btn btn-danger float-end">Supprimer</a>
            <!-- Update button -->
            <a href="{% url 'blog:edit' article.slug %}" class="btn btn-warning float-end me-2">Modifier</a>
        </div>
        <div class="mt-5">
            <h5 class="fw-bold text-justify">{{ article.description }}</h5>
        <br>
        <p class="text-justify" style="text-justify: auto;">
            {{ article.content }}
        </p>
        </div>
    </div>
</div>
{% endblock %}